 
    <div class="header-top hidden-xs">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-sm-push-1">
              
                <p>
                <a href="https://www.urotuning.com/pages/free-shipping-details" class="link">
              	<span class="hidden-xs" style="font-size: 11px;">
				  <b>
	  			 	<font color="#d20102 ">FREE SHIPPING</font> ON ELIGIBLE ITEMS
				  </b>
				</span>
				 <span class="visible-xs" text-align: center!important;>
					<font color="#d20102; display: inline-block!important;  ">
	  				 <span style="color: #d20102">Free Shipping</span> 
	  				 <span style="font-size: 11px; font-weight: 400; text-transform: capitalize; color: #000;">On orders $49+. Exclusions Apply.</span>
					</font>
                  </span> 

                </a>
              
              </p>
            </div>

    		<div class="col-xs-12 col-sm-4"></div>

    		<div class="col-xs-12 col-sm-4">
				<p style="text-align: right">
                  <span class="hidden-xs" style="font-size: 11px;">
                    <b>QUESTIONS? CALL US <a href="tel:(813) 444-7021">(813) 444-7021</a>
                    </b>
                  </span>
              	</p>
			</div>

    	</div>
      </div>
    </div>
