<div class="hidden-xs">
<div class="container-fluid" id="homepage-subheader">
  <div class="container">
  	  <div class="row" style="margin-left: 50px !important; margin-right: -69px;">
          <div class="col-sm-4 header-column angled-border">
            <div class="row">
              <div class="col-xs-1 col-sm-2">
                {{ 'angle-image.png' | asset_img_url: '35x' | img_tag }}
              </div>
              <div class="col-xs-11 col-sm-10">
              <h5>
              <span>FREE SHIPPING</span> ON ORDERS OVER $49
              </h5>
                <p><a href="/pages/free-shipping-details"> > Read Shipping Details* </a> </p>
            </div>
          </div>
          </div>
          <div class="col-sm-4 header-column angled-border">
            <div class="row">
              <div class="col-xs-1 col-sm-2">
                {{ 'angle-image.png' | asset_img_url: '35x' | img_tag }}
              </div>
              <div class="col-xs-11 col-sm-10">
              <h5>
                OWNED & OPERATED <span>BY</span><br>ENTHUSIASTS <span>FOR</span> ENTHUSIASTS
              </h5>
            </div>
          </div>
          </div>
          <div class="col-sm-4 header-column angled-border">
            <div class="row">
              <div class="col-xs-1 col-sm-2">
                {{ 'angle-image.png' | asset_img_url: '35x' | img_tag }}
              </div>
              <div class="col-xs-11 col-sm-10">
              <h5>
               THE BEST GERMAN PARTS at<br><span>THE LOWEST PRICES</span>
              </h5>
</div>
</div>
          </div>
      </div>
  </div>
</div>
</div>


