<div class="container" style="margin-bottom: 20px">
  <div class="row" style="margin: 30px 30px 100px">
  <div class="col-xs-12 col-sm-4" style="padding-top: 0px">
    <center>
      <h3><b>Who has hearing loss?</b></h3>
      <center>
     <img src="{{ 'chart.jpg' | asset_url }}" width="70%">
      </center>
    </center>
  </div>
  <div class="col-xs-12 col-sm-8">
    {{ pages.homepage.content }}
  </div>
  </div>
</div>