<div class="tooltip_wrap">
  <strong class="tooltipstrong">
    <a>
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    </a>
    <span class="tooltip-content">
      <span class="tooltip-text">
        <span class="tooltip-inner-box">
          {{tooltip_message}}
        </span>
      </span>
    </span>
  </strong>
</div>