{% include 'shogun-products', content: page %}
<!--<div style="max-width: 800px;margin: 0 auto !important;float: none !important;">-->
  {% include 'breadcrumb' %}
<header class="page-header">
    <h2>{{ page.title }}</h2>
</header>

{% comment %}
  Regular page content goes here.
{% endcomment %}

<div class="rte">
  {{ page.content }}
</div>
<!--</div>-->

